#main-field {
    background-color: cornflowerblue;
}

.task {
    padding-bottom: 30px;
}

form {
    padding-bottom: 15px;
}

/* input[type="text"] {
    background-color: rgb(131, 168, 237);
    color: blueviolet;
} */